body {
	border-color: black;
	margin: 0px 250px;
	width: 350px;
	border:1px solid;	
}

h1, h2 {
margin-left: 10px;
}

div {
	border:1px solid;
	border-color: black;
	width:90%;
	margin:5px;
}

textarea {
	background-color: #40c7af;
	/*bleu ciel*/
	width:90%;
	margin:5px;
}

button{
	background-color: gray;
	width:90%;
	margin:5px;	
}
.task-list-element{
	background-color: pink;
}