
body {
	display:block;
	font-weight:bold;
	font-size:16px;
	color:#222;
}
.bar {
	width:920px;
	margin: 0 auto;
}

		

h1 {

font-size:25px;
margin-left: 25px;
}

/*div {
	/*border:1px solid;*/
/*	border-color: black;
	width:90%;
	margin:5px;*/
/*}*/

form{
	width:920px;
 	margin: 0 auto;
}
/*textarea{
	width: 1000px;
	height: 1000px;
}*/

p label{
	
	float:left;
	width:150px;
	font-family: 'Roboto', sans-serif;
}
p input, textarea{
	background-color: #40c7af;
	/*bleu ciel*/
	float:left;
	width:900px;
	padding:5px;
	font-size:13px;
	font-family: 'Roboto', sans-serif;
	border:1px solid #ddd;
	border-radius: 30px;
	margin:15px;
	
}

#post-button{
	
	float: right;
	color:#fff;
	background-color: #B10058;
	border-radius: 30px;

	/*margin-left: 150px;
	
	font-size: 1.0em;
	/*background-color: gray;*/
	width:45%;

	}
	
