body {
	border-color: black;
	border:1px solid;	
}
.go-button{
	float:right;
	color:red;
	background-color: #B10058;
	border-radius: 30px;
}
.bar{
	display: block;
	float:right;
	margin: 0 auto;
}
.bar a{


	background-color: black;
	border-radius: 30px;

	/*margin-left: 150px;
	
	font-size: 1.0em;
	/*background-color: gray;*/
	color:grey;
	background-color: yellow;
	

}

h1 {
margin-left: 10px;
}

table {
	width:100%;
	text-align:left;
}
th, td {
	max-width: 250px;
	padding:10px;
}
th {
	color:#fff;
	background-color: #B10058;
	background-image: linear-gradient(#B10058, #99004D);
}
td {
	
	border-bottom:1px solid #f4f4f4;
}

